.content {
    padding: 2rem;
    .row {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }
    .article {
        padding: 2rem;
        box-shadow: var(--shadow);
        flex: 1 1 300px;
    }
}